{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "proseWrap": "preserve",
  "singleAttributePerLine": true,
  "importOrderTypeScriptVersion": "5.0.0",
  "importOrder": [
    "<TYPES>",
    "<TYPES>^[.]",
    "",
    "^(react)(/.*)?$",
    "react",
    "^(?!react)\\w+$",
    "<THIRD_PARTY_MODULES>",
    "",
    "^components(/.*)?$",
    "",
    "^hooks(/.*)?$",
    "",
    "^redux(/.*)?$",
    "",
    "^(api|services|config|constants)(/.*)?$",
    "",
    "^(utils|lib)(/.*)?$",
    "",
    "^[.]",
    "",
    "^(?!.*[.]css$)[./].*$",
    ".css$"
  ],
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss",
    "prettier-plugin-classnames",
    "prettier-plugin-merge"
  ]
}
