@import url('react-responsive-modal/styles.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-display: swap;
  src:
    local('Poppins'),
    url('./fonts/PoppinsMedium.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-display: swap;
  src:
    local('Poppins'),
    url('./fonts/PoppinsMedium.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-display: swap;
  src:
    local('Poppins'),
    url('./fonts/PoppinsSemiBold.woff2') format('woff2');
}

.hide-password-toggle::-ms-reveal,
.hide-password-toggle::-ms-clear {
  visibility: hidden;
  pointer-events: none;
  display: none;
}

@supports (-webkit-overflow-scrolling: touch) {
  input,
  textarea {
    font-size: 16px;
  }
}

@layer components {
  .animation {
    @apply data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95;
  }

  .styled-outline {
    @apply outline outline-2 outline-brand violet:outline-brand-violet;
  }
}
