@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-display: swap;
  src: local('Poppins'), url('fonts/PoppinsMedium.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-display: swap;
  src: local('Poppins'), url('fonts/PoppinsMedium.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-display: swap;
  src: local('Poppins'), url('fonts/PoppinsSemiBold.woff2') format('woff2');
}

.hide-password-toggle::-ms-reveal,
.hide-password-toggle::-ms-clear {
  visibility: hidden;
  pointer-events: none;
  display: none;
}

.icon-plus > * {
  stroke: red;
}
