@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-display: swap;
  src:
    local('Poppins'),
    url('fonts/PoppinsMedium.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-display: swap;
  src:
    local('Poppins'),
    url('fonts/PoppinsMedium.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-display: swap;
  src:
    local('Poppins'),
    url('fonts/PoppinsSemiBold.woff2') format('woff2');
}

.hide-password-toggle::-ms-reveal,
.hide-password-toggle::-ms-clear {
  visibility: hidden;
  pointer-events: none;
  display: none;
}

@supports (-webkit-overflow-scrolling: touch) {
  input,
  textarea {
    font-size: 16px;
  }
}

/* .bg-blur-container::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('https://res.cloudinary.com/dmbnnewoy/image/upload/v1707099093/TaskPro/board_bg_images/desk/fvgiatkjobjaff8jmk73.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  z-index: -1;
} */
